<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <title>Things WebUI</title>
    <link rel="stylesheet" href="css/screen.css" type="text/css" media="screen" title="no title" charset="utf-8">
<head>
<body>
    <div id="main">
        <div id="head">
            <h1>Things Web UI</h1>
        </div>
        <div id="todo">
			<%= yield %>
        </div>
    </div>
</body>
</html>
